<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<connectionStrings>
		<add name="bdAIEP" connectionString="Data Source=FELIPE\SQLEXPRESS;Initial Catalog=JFM;User ID=dev;Password=18540qaz" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

