<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<connectionStrings>
		<add name="bdAIEP" connectionString="Data Source=FELIPE\SQLEXPRESS;Initial Catalog=JFM;User ID=dev;Password=18540qaz" providerName="System.Data.SqlClient"/>
		<!--<add name="bdAIEP" connectionString="Data Source=LAPTOP-AR82DN3G;Initial Catalog=JFM;User ID=sa;Password=xperia69" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
</configuration>
